body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 77vh;
}

.navbar {
    position: relative;
    width: 100%;
    background: #777777;
    height: 90px;
    display: flex;
    align-items: center;
}

.nav-container {
    max-width: 1605px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.ISDb {
    color: #FFFFFF;
    font-size: 50px;
}

.login-button {
    display: flex;
    align-items: center;
}

.login-button button {
    background: none;
    border: none;
    font-size: 20px;
    color: #FFFFFF;
    cursor: pointer;
}

.login-button button:hover {
    text-decoration: underline;
}

.container {
    text-align: left;
    margin-top: 20px;
}

.sign-in-box {
    width: 400px;
    padding: 40px;
    background: #A5A5A5; /* Change the background color to match the Create account box */
    border: 1px solid #D9D9D9;
    border-radius: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}


.sign-in-heading {
    font-size: 40px;
    font-weight: 400;
    color: #000000;
    text-align: center;
    margin-top: 0;
}

.form-group {
    margin: 10px 0;
}

label {
    display: block;
    font-size: 16px;
    font-weight: 400;
    color: #000000;
}

input {
    width: 100%;
    padding: 10px;
    border: 1px solid #A5A5A5;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 400;
    color: #000000;
}

.forgot-password {
    color: #4A48C1;
    text-decoration: none;
}

.sign-in-button {
    background: #777777;
    color: #FFFFFF;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: 700;
    cursor: pointer;
    display: block;
    margin: 0 auto;
}

.create-account-link {
    text-align: center;
    margin-top: 10px;
}

.create-account-link p {
    font-size: 16px;
    font-weight: 400;
    color: #000000;
}

.create-account-link a {
    color: #777777;
    text-decoration: none;
}
